<!--

    Second section favorite-project

-->
<div class="favorite-project" id="favoriteProjectfid">
    <div class="backgroundMarine">
        <div class="sea" id="header"></div>
        <img src="../../assets/images/island.svg" id="island" alt="paint" title="Syros Island">
        <img src="../../assets/images/cont.svg" id="container" alt="paint" title="Container Ship">
        <img src="../../assets/images/passenger.svg" id="passenger" alt="paint" title="Passenger Ship">
        <img src="../../assets/images/sun.svg" class="sun" id="sun1" alt="paint">
        <div class="sea" id="sea1"></div>
        <div class="sea" id="sea2"></div>
        <div class="sea" id="sea3"></div>
        <div class="sea" id="sea4"></div>
        <a class="textaction" id="lernmore" href="/augmented-reality-marine-traffic">Learn More...</a>
    </div>
    <div class="contentMarine">
        <div class="favoriteTitle">
            <a class="titles"> My Favorite Project</a>
        </div>
        <div id="idIcon">
            <img src="../../assets/images/appicon.svg" id="icon" class="svg" alt="paint" title="Lern More">
            <div class="favoritecontent">
                <a class="textcontent">Imagine the knowledge of sea in your hand </a>
            </div>
        </div>
    </div>
</div>